/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #ffffff;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-lightest: #000000;
  --ifm-code-font-size: 17px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Hugo's magic */
  --ifm-navbar-height: 60px;
  --ifm-global-shadow-lw: 0 0.25px 0.25px 0 #565656;
  --ifm-font-family-base: "ABC Whyte";
  --doc-sidebar-width: 224px !important; 
  --ifm-link-decoration: black;
  --ifm-footer-color: black  !important;
  --ifm-footer-link-color: black;
 }

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-lightest: #000000;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


main .container {
  margin-left: 1rem;
}

aside .menu {
  background-color: #ffffff;
}

footer {
  background-color: #ffffff !important;
  color: black !important;
}

footer  a{
  color: black !important;
}
footer .footer__title{
  color: black !important;
}

  /* more Hugo's magic */
.navbar--fixed-top {
  padding: 0px;
}

.navbar__logo img {
  height: 20px;
  vertical-align: middle;
  padding-left: 20px;
}
.navbar__brand {
  height:100%;
  width: 224px;
  box-shadow:  0.25px 0 0.25px 0 #aaaaaa;
  position:absolute;
  left:0px; 
}

.navbar__items {
  align-items: center;
  justify-content: center;
  position:relative;
  box-shadow:  0.25px 0 0.25px 0 #aaaaaa;
}

.navbar__items--right {
  width: 224px;
  box-shadow: 0 0 0 0;
}

.menu__link {
  padding-left: 12px;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
}

.markdown a {
  text-decoration: underline;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.5rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.2rem;
}

@font-face {
  font-display: swap;
  font-family: ABC Whyte;
  font-style: normal;
  font-weight: 400;
  src: local(""),url(/font/NewfoundationWhyte-Regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: ABC Whyte;
  font-style: normal;
  font-weight: 400;
  src: local(""),url(/font/NewfoundationWhyte-Regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: ABC Whyte;
  font-style: normal;
  font-weight: 400;
  src: local(""),url(/font/NewfoundationWhyte-Regular.woff) format("woff")
}
